$pink:#8b008a;
$bright-pink:#cc01cb;


.bg-pink {
    background-color: $pink;
}

.pink {
    color: $pink;
}
.bright-pink{
    color:$bright-pink
}

.bg-bright-pink {
    background-color: $bright-pink;
}